{% extends 'base.html' %} {% block content %}
<div class="col-md-6 offset-md-3 mt-3">
  {% if user.is_authenticated %}
  <h1>Hello world</h1>
  {% else %}
  <h1>Login</h1>
  <br />
  <form method="POST" action="{% url 'home' %}">
    {% csrf_token %}
    <div class="mb-3">
      <input
        aria-describedby="emailHelp"
        class="form-control"
        name="username"
        placeholder="Username"
        type="text"
        required
      />
    </div>
    <div class="mb-3">
      <input
        class="form-control"
        name="password"
        placeholder="Password"
        type="password"
        required
      />
    </div>
    <br />
    <button type="submit" class="btn btn-secondary">Login</button>
  </form>
  {% endif %}
</div>
{% endblock %}
