{% extends 'base.html' %} 
{% block content %}
<a class="btn btn-secondary mt-3" href="{% url 'home' %}">Go back</a>
<a class="btn btn-danger mt-3" href="{% url 'delete_record' customer_record.id %}">Delete</a>

<div class="card mt-3">
  <div class="card-header">
    {{customer_record.first_name}} {{customer_record.last_name}} |
    {{customer_record.email}}
  </div>
  <div class="card-body">
    <h5 class="card-title">
      {{customer_record.city}}, {{customer_record.state}}
    </h5>
    <p class="card-text">
      With supporting text below as a natural lead-in to additional content.
    </p>
  </div>
</div>
{% endblock %}
